.key-selector{
	background-color: #edeff1;
	width: 100%;
	position: relative;
	z-index: 400;
}

.key-selector-min{
	height: 80px;
}

.key-selector-max{
	height: 55px;
}

.key-selector-min .selector-handle{
	margin-top: 49px;
}

.key-selector-max .selector-handle{
	margin-top: 24px;
}

/*Cubierta de la tecla seleccionada para poder pintar el borde*/
.key-selector-keycover{
	background-color: #edeff1;
	width: 100%;
	height: 28.5px;
	position: relative;
	border-bottom: 1px solid black;
}

.key-selector-arm{
	position: absolute;
	margin-left: -290%;
}

/*Texto del Selector*/
.selector-handle-caption{
	padding-top: 15%;
	padding-bottom: 18%;	
}

.selector-handle-tittle{
	text-align: center;
}

.selector-handle {
	cursor: pointer;
	border-radius: 20px;
	width: 70%;
	background-color: #e74c3c;
	text-align: center;
	color: #FFF;
	font-size: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*Si no se le pone un espacio debajo a los selectores no se ven*/
.thumbTrack{
	height: 100px;
}

.selected-key{
	background-color: #edeff1;
}
