body{
	height: 100%;
	position: absolute;
	width: 100%;
}

.view-container{
	height: 89%;
}

.view {
	height: 100%;
}

.yui3-vrapp-view-landing {
	height: 100%;
}

.view > .container {
	height: 100%;
}






/*Common Styles*/
.hero-slogan{
	color:#888888;
	font-size: 150%;
}

/*que todos los dispositivos destinados a verse en pantalla y con un ancho de ventana
 del navegador de 320px o menos (@media screen and (max-width:320px)) pongan el */

/*Menos de 480px*/
/*@media only screen and (max-height: 480px) {
	#landing-view .container{
		background: red;
	}
}*/

/*Mas de 480px*/
/*@media only screen and (min-height: 481px) {
	#landing-view .container{
		background: green;
	}
}*/

/*Conclusion: En el browser independientemente del DPI el sigue aumentando*/

/*media querie: device-width

Device-width: especifica el ancho de pantalla total del dispositivo, es decir, 
toda la pantalla, en lugar de sólo el área de representación. Esta propiedad nos 
sirve para rastrear un dispositivo concreto. Combinándolo con otras 
propiedades “media queries” se puede detectar cualquier aparato.*/


.popover{
    position: relative;
    display: block;
    float: left;
    width: 235px;
    margin-top: 20px;
    border-radius: 0px;
    background-color: #edeff1;
    border-color: #edeff1;
	webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	color:#555555;
}

.popover.right .arrow {
	top: 18px;
	border-right-color: #edeff1;
}

.popover.right .arrow:after {
	border-right-color: #edeff1;
}
.people{
	margin-top: 20px;
	margin-right: 10px;
}

.popover p {
	margin-bottom: 0px;
}

.arrow-image{
/*	margin-left: 75px;*/
	margin-bottom: 20px;
}


.popover-content img{
	margin-bottom: 7px;
}


.container {
	max-width: 386px;
	padding-right: 10px;
	padding-left: 10px;

}

@media (max-width:700px) {
	.landing-view-item-container{
		width: 290px;
		margin: 0 auto;
	}
}