
/*Barra superior*/
.topbar {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  height: 50px;
  padding: 9px 15px 9px 15px;
}

.yui3-vrapp-view-main{
	height: 100%;
}

/*Boton de ir atras*/
.header-back{
	color:#999999;
	font-size: 100%;
}

/*Se sobrescriben los valores de bootstrap por defecto*/
.btn {
  border-radius: 0px;
}

.btn-info{
  background-color: #3498db;
  border-color: #3498db;  
}

.btn-info:hover{
  background-color: #2980B9;
  border-color: #2980B9;  
}

.btn-primary{
  background-color: #e74c3c;
  border-color: #e74c3c;  
}

.btn-primary:hover{
  background-color: #C0392B;
  border-color: #C0392B;  
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #C0392B;
	border-color: #C0392B;
}

.btn-primary:focus{
	outline: 5px auto #C0392B;
	outline-offset: -2px;
}

/*End Botones*/

/*Vistas*/
.view{
	position: relative;
	display: block;
}

.view-active{
	position: relative;
	display: block;
	left:0%;
}

.view-hidden {
	display:none!important;
	position: relative;
	left:100%;
}

.view-container{
	position: relative;
	overflow: hidden;
}

/*End Vistas*/

/*Separadores*/
.separator-content-space-small{
	margin-top: 30px;
}

.separator-content-space-xlarge{
	margin-top: 175px;
}

.separator-content-space-large{
	margin-top: 80px;
}

.separator-content-space-xs{
	margin-top: 20px;
}

/*End Separadores*/


/*Texto normal de las descripciones*/
.normal-text{
	font-size: 125%;
	color: #555555;
}

/*Texto subrayado en azul*/
.market-secondary{
	background-color:#3498db;
	color: white;
	padding: 0.3% 1%; 
}



@media (max-width:350px) {
	.hidden-small{
		visibility:hidden;
		display:none;
	}
}



.arrow-along{

	border-bottom-color: #EDEFF1;
	border-bottom-style: solid;
	border-bottom-width: 11px;

	border-left-color: rgba(0, 0, 0, 0);
	border-left-style: solid;
	border-left-width: 11px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 11px;
	margin-left: -11px;
	top: -11px;
	width: 22px;
	margin: 0 auto;
}


/*Para las descripciones*/
ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: #3498db; /* or whatever color you prefer */
    font-size:250%;
    vertical-align:middle;
    line-height:20px;
}
/*End Para las descripciones*/




/*Utiles*/
.center-align{
	margin: 0px auto;
}

p.no-margin{
	margin: 0 0 0px;
}

.no-padding{
	padding: 0;
}

.s-padding-left{
	padding-left: 0.6em;
}
