.topbar {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  height: 50px;
  padding: 9px 15px 9px 15px;
}

.header{
	color:#999999;
	font-size: 100%;
}

.btn {
  border-radius: 0px;
}

.btn-info{
  background-color: #3498db;
  border-color: #3498db;  
}

.btn-info:hover{
  background-color: #2980B9;
  border-color: #2980B9;  
}

.popover{
    position: relative;
    display: block;
    float: left;
    width: 235px;
    margin-top: 20px;
    border-radius: 0px;
    background-color: #edeff1;
    border-color: #edeff1;
	webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	color:#555555;
}

.popover.right .arrow {
	top: 14%;
	border-right-color: #edeff1;
}

.popover.right .arrow:after {
	border-right-color: #edeff1;
}
.people{
	margin-top: 20px;
	margin-right: 10px;
}

img.singers{
	margin-bottom: 10px;
}

.popover p {
	margin-bottom: 0px;
}

.hero-slogan{
	color:#555555;
	margin-top: 30px;
}

.arrow-image{
	margin-left: 75px;
}

.container {
	max-width: 386px;
	padding-right: 0;
	padding-left: 0;
}

.btn-primary{
  background-color: #e74c3c;
  border-color: #e74c3c;  
}

.btn-primary:hover{
  background-color: #C0392B;
  border-color: #C0392B;  
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #C0392B;
	border-color: #C0392B;
}

.btn-primary:focus{
	outline: 5px auto #C0392B;
	outline-offset: -2px;
}

.center-align{
	margin: 0px auto;
}

.view{
	position: relative;
	display: block;
}

/*.yui3-vrapp-view-landing{
	position: relative;
	display: block;
	left:0%;
}*/

.view-active{
	position: relative;
	display: block;
	left:0%;
}

.view-hidden {
	display:none;
	position: relative;
	left:100%;
}

.view-container{
	position: relative;
	overflow: hidden;
}

/*Vista principal*/
.separator-content-space-small{
	margin-top: 40px;
}

.separator-content-space-large{
	margin-top: 80px;
}

.frequency-level{
	height: 250px;
	background-color: #edeff1;
}

.frequency-level-hotzone{
	position: relative;
	background-color: #3498db;
	top: 100px;
	height: 50px;
}

.frequency-level-indicator{
	position: absolute;
	top:214px;
}

.center-level-indicator{
	margin:0 auto;
	width: 36px;
}

.center-michrophone{
	margin:0 auto;
	width: 36px;
}

.center-piano{
	top: 40px;
	margin:0 auto;
	width: 58px;
/*	margin-bottom: 135px;*/
}

.piano-controls{
	margin-bottom: 102px;
}

.controles{
	color:#555555;
	font-size: 110%;
}
