.topbar {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  height: 50px;
  padding: 9px 15px 9px 15px;
}

.header{
	color:#999999;
	font-size: 100%;
}

.btn {
  border-radius: 0px;
}

.btn-info{
  background-color: #3498db;
  border-color: #3498db;  
}

.btn-info:hover{
  background-color: #2980B9;
  border-color: #2980B9;  
}

.popover{
    position: relative;
    display: block;
    float: left;
    width: 235px;
    margin-top: 20px;
    border-radius: 0px;
    background-color: #edeff1;
    border-color: #edeff1;
	webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	color:#555555;
}

.popover.right .arrow {
	top: 14%;
	border-right-color: #edeff1;
}

.popover.right .arrow:after {
	border-right-color: #edeff1;
}
.people{
	margin-top: 20px;
	margin-right: 10px;
}



.popover p {
	margin-bottom: 0px;
}

.hero-slogan{
	color:#555555;
	margin-top: 30px;
}

.arrow-image{
	margin-left: 75px;
}

.container {
	max-width: 386px;
	padding-right: 10px;
	padding-left: 10px;

}

.btn-primary{
  background-color: #e74c3c;
  border-color: #e74c3c;  
}

.btn-primary:hover{
  background-color: #C0392B;
  border-color: #C0392B;  
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #C0392B;
	border-color: #C0392B;
}

.btn-primary:focus{
	outline: 5px auto #C0392B;
	outline-offset: -2px;
}

.center-align{
	margin: 0px auto;
}

.view{
	position: relative;
	display: block;
}

/*.yui3-vrapp-view-landing{
	position: relative;
	display: block;
	left:0%;
}*/

.view-active{
	position: relative;
	display: block;
	left:0%;
}

.view-hidden {
	display:none;
	position: relative;
	left:100%;
}

.view-container{
	position: relative;
	overflow: hidden;
}

/*-------------------------------------Vista principal----------------------*/
.separator-content-space-small{
	margin-top: 30px;
}

.separator-content-space-xlarge{
	margin-top: 175px;
}

.separator-content-space-large{
	margin-top: 80px;
}

.separator-content-space-xs{
	margin-top: 20px;
}

.ball{
	padding-top: 5px;
	margin-right: 8px;
} 

.primary-color{

}

.base-color{
	background-color: red;
}

.secondary-color{
	background-color: #3498db;
}

.secondary-text-color{
	color: #3498db;
}

.normal-text{
	font-size: 125%;
	color: #555555;
}

.market-secondary{
	background-color:#3498db;
	color: white;
	padding: 0.3% 1%; 
}

.s-padding-left{
	padding-left: 0.6em;
}

@media (max-width:350px) {
	.hidden-small{
		visibility:hidden;
		display:none;
	}
}

.artist-scrollview .popover{
	width: 100%;
	max-width: 100%;
}

.artist-scrollview .popover .arrow:after{
	border-bottom-color: #edeff1;
}

.artist-scrollview .popover .arrow{
	border-bottom-color: #edeff1;
}

.artist-scrollview .popover{
	/*overflow: auto;*/
	height: 200px;
	margin-top: 0px;
}

.hscrollbar
{
	overflow-x: auto; /*for horizontal scroll bar */
	overflow-y: hidden; /*for hiding vertical scroll bar */
}

.content-scroller
{
	width: 100%; 
    height: 200px;
    overflow: auto; 
}

.inner-scroller
{
	float:left;
    margin-right:-30000px;
    padding-left:20px;

}

.no-padding{
	padding: 0;
}

.arrow-along{

	border-bottom-color: #EDEFF1;
	border-bottom-style: solid;
	border-bottom-width: 11px;

	border-left-color: rgba(0, 0, 0, 0);
	border-left-style: solid;
	border-left-width: 11px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 11px;
	margin-left: -11px;
	top: -11px;
	width: 22px;
	margin: 0 auto;
}

p.no-margin{
	margin: 0 0 0px;
}












/*---------------------------------------------------------------------------*/


/*--------------------------------------------------------*/
.thumb{
	width: 50px;
	height: 50px;
	/*padding: 10px;*/
	border: 1px solid orange;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: lightyellow;
	border-radius: 20px;
	position: relative;
}

#box2{
	width: 50px;
	height: 50px;
	font-size: 2em;
	border: 1px solid orange;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: lightyellow;
	position: absolute;
	padding-top: 4px;
	-moz-box-shadow: 0 0 5px gray;
	box-shadow: 0 0 5px gray;
	text-align: center;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: #3498db; /* or whatever color you prefer */
    font-size:250%;
    vertical-align:middle;
    line-height:20px;
}

.loader {
	font-size: 80%;
	color: #777;
	width: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
