#scroll ul {
    white-space:nowrap;
    list-style:none;
    padding: 5% 0% 0% 9%;
}
#scroll li {
    text-align: center;
    display: -moz-inline-box;
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    height: 155px; 
    -webkit-transform: translate3d(0%, 0px, 0px);     
}

#scroll li:before {
    content: "";
    color: #3498db;
    font-size: 250%;
    vertical-align: middle;
}

#scroll img {
    border:0;
/*    width: 45px;*/
    height: 40px;
}

#scroll a {
    text-decoration: none;
    font-weight: bold;
    color: #555555;
    float: left;
    margin-right: 8%;
    width: 25%;
    height: 40%;
    font-size: 90%;
    margin-bottom: 5%;
}

#scroll .scroll-element {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #555555;
    float: left;
    margin-right: 8%;
    width: 25%;
    height: 40%;
    font-size: 90%;
    margin-bottom: 5%;
}

#scroll a.first-element-scroll{
    margin-left: 0;
}

#scroll span {
padding: 5px 0 15%;
display:block;
}

.artist-container{

}

.opacity-hidden{
    opacity: 0;
}

body{
    margin: 0px;
}

/*El Scroller que he encontrado*/
#scroller li {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display:block; float:left;
    width:300px; height:160px;
    text-align:center;
    font-family:georgia;
    font-size:18px;
    line-height:140%;
}

.indicator-content, .indicator-content > li {
    display:block; float:left;
    list-style:none;
    padding:0; margin:0;
}

.indicator-content > li {
    text-indent:-9999em;
    width:8px; height:8px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    background:#ddd;
    overflow:hidden;
    margin-right:4px;
}

.indicator-content > li.active {
    background:#888;
}

.indicator-content > li:last-child {
    margin:0;
}

.indicator-nav {
    float: left;
    position: relative;
    left: 50%;
    margin-top: 5px;
}

.indicator-content {
    padding: 0% 0% 0% 0%!important;
    margin: 0 auto;
    float: left;
    position: relative;
    left: -50%;
}


