.artist-scrollview .popover .arrow:after{
    border-bottom-color: #edeff1;
}

.artist-scrollview .popover .arrow{
    border-bottom-color: #edeff1;
}

.artist-scrollview .popover{
    overflow: hidden;
    height: 205px;
    margin-top: 0px;
}



.artist-scrollview-scroll ul {
    white-space:nowrap;
    list-style:none;
    padding: 5% 0% 0% 9%;
}
.artist-scrollview-scroll li {
    text-align: center;
    display: -moz-inline-box;
    display: inline-block;
    width: 100%;
    padding-right: 0px;
    height: 155px; 
    -webkit-transform: translate3d(0%, 0px, 0px);     
}

.artist-scrollview-scroll li:before {
    content: "";
    color: #3498db;
    font-size: 250%;
    vertical-align: middle;
}

.artist-scrollview-scroll img {
    border:0;
    height: 40px;
}

.artist-scrollview-scroll a {
    text-decoration: none;
    font-weight: bold;
    color: #555555;
    float: left;
    margin-right: 8%;
    width: 25%;
    height: 40%;
    font-size: 90%;
    margin-bottom: 5%;
}

.artist-scrollview-scroll .scroll-element {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #555555;
    float: left;
    margin-right: 8%;
    width: 25%;
    height: 40%;
    font-size: 90%;
    margin-bottom: 5%;
}

.artist-scrollview-scroll a.first-element-scroll{
    margin-left: 0;
}

.artist-scrollview-scroll span {
padding: 5px 0 15%;
display:block;
}

.opacity-hidden{
    opacity: 0;
}

body{
    margin: 0px;
}

.indicator-content, .indicator-content > li {
    display:block; float:left;
    list-style:none;
    padding:0; margin:0;
}

.indicator-content > li {
    text-indent:-9999em;
    width:8px; height:8px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    background:#ddd;
    overflow:hidden;
    margin-right:4px;
}

.indicator-content > li.active {
    background:#888;
}

.indicator-content > li:last-child {
    margin:0;
}

.indicator-nav {
    float: left;
    position: relative;
    left: 50%;
    margin-top: 5px;
}

.indicator-content {
    padding: 0% 0% 0% 0%!important;
    margin: 0 auto;
    float: left;
    position: relative;
    left: -50%;
}


