
.modal-header .close{
	font-size: 37px;
	padding: 0.3% 3.3%;
}

.selector-body{
	color: #555555;
}

.selector-body ul {
	margin: 0;
	padding: 0!important;
/*	text-align: center;*/
}

.selector-body li {
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin: 0;
	width: 13.2%;
	padding-top: 3.3%;
	padding-bottom: 3.3%;
	padding: 3.3%;
	text-indent: 0em;
	font-size: 125%;
	text-align: center;
}

.selector-body li:before {
content: "";

}

.selector-body li.selected {
	background-color: #e74c3c;
	color: white;
}

.selector-body li.selected:hover {
	background-color: #e74c3c;
	color: white;
}

.selector-body li:hover{
	background-color: #edeff1;
}

.selector-body li.disabled{
	background-color: #fefefe;
	color: #e5e5e5;
	cursor: default;
}

.modal{
	overflow-y: hidden;
	overflow-x: hidden;
	overflow: hidden;
	position: fixed;
}

.modal-dialog {
	right: auto;
	left: 50%;
/*	width: 600px;*/
	padding-top: 262px;
	padding-bottom: 30px;
}

body.modal-open{
	margin-right: 0px;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
}

